<h1>What Character to edit?</h2>
<h2><a href="<%= url '/index' %>">Index</a></h2>
<p>
Only input one Character.
<form action="<%= url "/svg" %>" method="get">
  <input name="char" />
  <button>Go!</button>
</form>
